<head>
    <title>@ViewBag.Title - Blog App</title>
</head>

<div class="container">
    <h4>Blog Paylaşımı Ekle</h4>
    @Html.ActionLink("Ekle", "PaylasimEkle", null, new { @class = "btn btn-primary" })

</div>

